@{
    ViewBag.Title = "ABOUT";
}

<h3 style="color:green">@ViewBag.Title</h3>
<img src="~/img/Logo_project.png" align="right" class="img-circle" />
<br />
<h4 style="color:blue">WHO WE ARE</h4>



<p style="color:green">Re-Fresh Air is an Organization interested in Improving AirQuality through Recycling</p>
<br />
<h4 style="color:blue">WHAT WE DO</h4>
<p style="color:green">Provide information about Recycling Centers, Materials and Pollution Level in Air</p>
<p style="color:green">Free Distribution of Recycle Bins</p>
<br />
<h4 style="color:blue">HOW WE DO</h4>
<p style="color:green">With Support from Like-Minded people to serve the community </p>
