@{ 
    ViewBag.Title = "Contact";
 }

<address style="color:green"> 
    Experience IT<br />
    Detroit, MI 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    313.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@ReFreshAir.com">Support@ReFreshAir.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@ReFreshAir.com">Marketing@ReFreshAir.com</a>
</address>