@{
    ViewBag.Title = "Contact";
}
<h2 style="color:darkorange">@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@
<br />
<address style="color:green">
    Re-Fresh Air<br />
    Detroit, MI 48226<br />
    <abbr title="Phone">Ph:</abbr>
    313.555.9999
</address>

<address>

    <strong style="color:green">Support:</strong>   <a href="mailto:Support@example.com">Support@re-freshair.com</a><br />
    <strong style="color:green">Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@re-freshair.com</a>
</address>