@{
    ViewBag.Title = "Contact";
}
<img src="~/img/Logo_project.png" align="right" class="img-circle" />
<h1 style="color:green">@ViewBag.Title</h1>
<br />
<h3 style="color:blue">
    Re-Fresh Air<br />
    Detroit, MI 48226<br />
    <abbr title="Phone">Ph:</abbr>
    313.555.9999
</h3>
<br />
<br />
<h3>
    <strong style="color:green">Support:</strong>   <a href="mailto:Support@example.com">Support@re-freshair.com</a><br />
    <br />
    <strong style="color:green">Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@re-freshair.com</a>
</h3>