@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <section id="slider">
        <div class="carousel slide carousel-fade" id="carousel-example-generic" data-interval="3000" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li class="active" data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item">
                    <div class="slider_overlay">

                        <img alt="..." style="width:100%; height:50%" src="~/img/img1.jpg">
                        <div class="carousel-caption">
                            <div class="slider_text">
                                <h3 style="color:cornflowerblue">Recyle</h3>
                                <h2 style="color:fuchsia">Protect the environment</h2>
                                
                                <a class="custom_btn" href="">Read  More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of item With Active-->
                <div class="item active left">
                    <div class="slider_overlay">
                        <img alt="..." src="~/img/img2.jpg" style="width:100%; height:50%">
                        <div class="carousel-caption">
                            <div class="slider_text">
                                <h3 style="color:cornflowerblue">Recycle</h3>
                                <h2 style="color:fuchsia">Decrease Green Gas Emission</h2>
                                
                                <a class="custom_btn" href="">Read  More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Item-->
                <div class="item next left">
                    <div class="slider_overlay">
                        <img alt="..." src="~/img/img3.jpg" style="width:100%; height:50%">
                        <div class="carousel-caption">
                            <div class="slider_text">
                                <h3 style="color:cornflowerblue">Recycle</h3>
                                <h2 style="color:fuchsia">Improve Air Quality</h2>

                                <a class="custom_btn" href="">Read  More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of item-->
            </div>
            <!--End of Carousel Inner-->
        </div>
    </section>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 style="color:green">Purpose</h2>
        <p style="color:">
            The PURPOSE of our application is to provide awareness regarding RECYCLING and IMPROVING Air Quality
        </p>


        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2 style="color:green">Mission</h2>
        <p>Be a source for our community to improve involvement in Recycling and Producing Quality Air</p>
        @* <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2 style="color:green">Vision</h2>
        <p>Fresh and Clean Air with improved contribution</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>
















@*
    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
*@