@model List<ReFreshAir1.Models.Location>

@{
    ViewBag.Title = "FindLocations";
}
@{
    var locations = (List<ReFreshAir1.Models.Location>)ViewData["locations"]; // Cast the list
}
<link href="~/Content/Site.css" rel="stylesheet" />
<body>
    @using (Html.BeginForm("FindLocations", "Earth"))
    {
        <table id ="materials"class="table table-hover" border="1">
            <thead>
                <tr class="table-primary">

                    <th scope="col" style="text-align:center" width="40%">DESCRIPTION</th>
                    <th scope="col"style="text-align:center" width="20%">CURB SIDE AVAILABILITY</th>
                    <th scope="col"style="text-align:center" width="20%">DISTANCE</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var temp in locations)
                {
                <tr class="table-primary">
                    <td scope="row" style="color:green; padding-left: 80px;" align="left"class="black" >
                        <a href="@Url.Action("LocationDetails", "Earth", new { location_id = temp.location_id })">@temp.description</a>
                    </td>
                    <td scope="row"style="color:green" align="center"> 
                    @if (temp.curbside == false) 
                    {
                        @: No
                    }
                    else
                    {
                        @: Yes
                    }
                    </td>
                    <td scope="row"style="color:green" align="center">@temp.distance</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>
