@model List<ReFreshAir1.Models.MaterialDescription>
@{
    ViewBag.Title = "FindMaterials";
}
@{
    var materials = (List<ReFreshAir1.Models.MaterialDescription>)ViewData["materials"]; // Cast the list
}
<link href="~/Content/Site.css" rel="stylesheet" />
    <table id ="materials"class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Material</th>
                <th scope="col">Description</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var mat in materials)
            {
                <tr class="table-primary">
                    <td scope="row"style="color:green">@mat.description</td>
                    <td scope="row"style="color:green" >@mat.long_description</td>
                </tr>
            }
        </tbody>
    </table>
