@model ReFreshAir1.Models.Zipcode

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Site.css" rel="stylesheet" />

<p>
    If you want to find out more details about where to recycle certain materials near you, enter your zipcode below
</p>
@using (Html.BeginForm("FindLocations", "Earth"))
{


    <br />
     @Html.Label("Enter Zipcode", new { style = "color:green"})
    <br />

    @Html.TextBoxFor(m => m.zipcode)

    <input type="submit" id="submitId" value="Submit" />
}

@*@using (Html.BeginForm("FindMaterials", "Earth"))
    {

        <br />


        <input type="submit" id="FindMaterial" value="Find Recycle Material Info" />

        <br />
    }
*@


