
@model ReFreshAir1.Models.PollutionResult

@{
    ViewBag.Title = "GetPollution";
}



<link href="~/Content/Site.css" rel="stylesheet" />

<p style="color:blue">
    Air Quality Pollution Index for Entered City is @Model.Aqius
</p>
<img src="~/img/AQI_Chart.png" />
<h6>Courtesy: Rouge Valley Clean Air</h6>
@*
<td style="color:green">
    @if (Model.Notes == "")
    {@: Please call for further information
    }
    else
    {
        @Model.Notes 
    }
</td>
*@