@model ReFreshAir1.Models.City
@{
    ViewBag.Title = "AirIndex";
}

<link href="~/Content/Site.css" rel="stylesheet" />

@using (Html.BeginForm("GetPollution", "AirQuality"))
{
    <br />
    <h3 style="color:green">Air Quality Index (AQI)</h3>
    <br />
    <h5 style="color:blue">

        The AQI is a number used by government agencies to communicate to the public how polluted the air currently is.
        <br />
        <br />The higher the number, the more polluted the air is.
    </h5>
    <br />
    @Html.Label("ENTER A CITY TO FIND ITS AQI", new { style = "color:blue"})
    <br />

    @* Html.Label("Enter City")*@


    @*@Html.Label("ENTER CITY", new { style = "color:blue" })*@

    <br />
    @Html.TextBoxFor(m => m.city, new { placeholder = "City", type = "text"})



    <input type="submit" id="submitId" value="Submit" />
}





